/* RESET */
:root {
    --primary-color: #ff1139;
    --secondary-color: #f5f5f5;
    --card-length: 14vw;
}

html {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-size: 10px;
}

body {
    background-color: var(--secondary-color);
}

.d-none {
    display: none;
}

/* HEADER */
.header-container {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1.5rem;
    font-size: 1.6rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--secondary-color);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.logo-text {
    display: inline-block;
    height: 3.5rem;
    font-size: 2.4rem;
    text-decoration: none;
    color: var(--primary-color);
    padding-top: 0.8rem;
}

.open-navigation {
    display: flex;
    justify-content: space-between;
}

.hamburger-menu-exit {
    display: none;
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    cursor: pointer;
}

.header-nav-container {
    display: flex;
    align-items: center;
    padding-right: 5rem;
}

.header-menu {
    display: flex;
    justify-content: space-around;
}

.header-menu {
    list-style: none;
}

.header-li__link {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 2.3rem;
}

.header-li__link:hover,
.header-li__link:active {
    text-decoration: underline;
}

.btn {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border: none;
    box-shadow: 0 2px 6px lightgrey;
    margin: 0.5rem;
    cursor: pointer;
}

.btn:hover,
.btn:active {
    box-shadow: 0 2px 6px rgb(139, 139, 139);
}

.btn-transparent {
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

.btn-full {
    color: var(--secondary-color);
    background-color: var(--primary-color);
}

.btn-icon-background {
    background-color: var(--secondary-color);
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    display: inline-block;
    vertical-align: middle;
}

.btn-icon {
    height: 1.6rem;
    vertical-align: text-top;
}

.d-none-992 {
    font-size: 1.4rem;
}

.hamburger-menu,
.hamburger-menu-exit {
    display: none;
}

main {
    margin-top: 7rem;
}

/* CAROUSEL */
.carousel {
    height: 500px;
}

.carousel-img {
    height: 100%;
}

.carousel-img-1 {
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), 
        url(../images/yoga-class.png);
    background-size: cover;
    background-position: center center;
}

.carousel-img-2 {
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0)), 
        url(../images/yoga-shop.png);
    background-size: cover;
    background-position: center center;
}

.carousel-title {
    font-size: 4.8em;
    padding-top: 1.8rem;
    text-align: center;
    text-shadow: 0 0 2px rgb(255, 255, 255);
}

/* CLASSES */
.classes {
    display: flex;
    justify-content: space-evenly;
    margin: 5rem 0;
}

.yoga-class-card {
    width: 28%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-areas: 
        "img"
        "title"
        "p"
        "badges";
}

.yoga-class-card__title {
    grid-area: title;
    margin: 2rem 0.5rem;
    font-size: 1.6rem;
    font-weight: 500;
}

.yoga-class-card__img {
    max-width: 100%;
    grid-area: img;
}

.yoga-class-card__p {
    grid-area: p;
    margin: 2rem 0.5rem;
}

.yoga-class-card__badges {
    grid-area: badges;
    margin: 1rem 0.5rem;
}

.yoga-class-card__badges .badge {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.5rem;
    font-weight: 500;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

/* REGISTER */
.register {
    min-height: 300px;
    display: flex;
    margin: 1rem;
}

.register-text-container {
    width: 50%;
    margin: 1rem;
}

.register-img {
    background-image: url(../images/yoga-register.png);
    background-size: cover;
    background-position: center center;
    width: 40%;
    margin: 0 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.register__heading {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

.register__p {
    margin: 1rem 4rem;
    font-size: 1.4rem;
}

.register__btn {
    margin: 1rem 4rem;
    padding: 1rem 2rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px rgba(49, 49, 49, 0.5);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    border: none;
}

.register__btn:hover {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7);
}

/* TICKETS */
.tickets {
    background-color: var(--primary-color);
    margin: 3rem 0;
    padding: 2rem;
}

.tickets__heading {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
    color: var(--secondary-color);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.tickets__container {
    display: flex;
    justify-content: center;
}

.tickets-container__card {
    background-color: var(--secondary-color);
    margin: 2.5rem;
    padding: 1.5rem;
}

.tickets__title {
    font-size: 2.4rem;
    letter-spacing: 1px;
    font-size: 500;
    text-align: center;
    border: 3px solid var(--primary-color);
    padding: 1rem 0.5rem;
}

.tickets__price {
    display: block;
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

.tickets__features {
    list-style: none;
    padding: 1.5rem;
}

.tickets__features > li {
    font-size: 1.6rem;
    padding: 1rem;
}

.tickets__features > li::before {
    content: "✓";
    font-weight: 800;
    font-size: 2rem;
    margin-right: 1rem;
    color: var(--primary-color);
}

.tickets__btn {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem 3rem;
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    border: none;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    display: block;
    margin: 1rem auto;
}

.tickets__btn:hover {
    box-shadow: 2px 2px 3px black;
    text-shadow: 1px 1px 2px black;
}

/* BLOG */
.blog {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2rem;
}

.blog-thumbnail {
    margin: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-areas: "thumbnail-image thumbnail-content";
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
    background-color: white;
}

.blog-thumbnail__content {
    grid-area: thumbnail-content;
    width: var(--card-length);
    height: var(--card-length);
    overflow: hidden;
    padding-top: 1rem;
    padding-right: 1rem;
    position: relative;
}

.blog-thumbnail__content > time {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 2rem 0 1rem 0;
    width: var(--card-length);
    background-image: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}

.blog-thumbnail__image {
    background-image: url(../images/namaste.png);
    background-position: center center;
    background-size: cover;
    width: var(--card-length);
    height: var(--card-length);
    margin-right: 1rem;
    grid-area: thumbnail-image;
}

/* FOOTER */

footer {
    border-top: 0.5rem solid var(--primary-color);
    padding-top: 2rem;
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

.footer-links__a {
    margin: 2rem;
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.footer__copyright {
    display: block;
    margin: 1rem;
    text-align: center;
}

.footer__social {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 1.5rem;
}

.icon {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 1rem;
}

.facebook-icon {
    background-image: url(../images/facebook-brands.svg);
}

.instagram-icon {
    background-image: url(../images/instagram-brands.svg);
}

.twitter-icon {
    background-image: url(../images/twitter-brands.svg);
}


/* MEDIA QUERIES */ 
@media screen and (max-width: 992px) {
    :root {
        --card-length: 20vw;
    }

    .d-none-992 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    :root {
        --card-length: 35vw;
    }

    .header-nav-container,
    .header-buttons {
        display: none;
    }

    .hamburger-menu {
        display: block;;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
    }
    
    .blog-thumbnail__content {
        min-width: 15px;
        min-height: 150px;
    }

    .blog-thumbnail__image {
        min-width: 15px;
        min-height: 150px;
    }
    
    .blog-thumbnail > time {
        min-width: 150px;
    }
}

@media screen and (max-width: 576px) {
    .classes {
        flex-wrap: wrap;
    }
    .yoga-class-card {
        width: 70%;
        margin-bottom: 3rem;
    }

    .register-img {
        display: none;
    }

    .register-text-container {
        width: 90%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    .tickets__container {
        flex-direction: column;
        width: 95%;
        min-width: 20rem;
        margin: 1rem auto;
    }

    .footer__links {
        justify-content: space-evenly;
    }
}

/* OPEN NAVIGATION */
.js-d-none {
    display: none;
}

.js-open-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 2rem;
    background-color: var(--primary-color);
    width: 60%;
    height: 70vh;
}

.js-exit {
    display: flex;
}

.js-nav-container {
    display: flex;
    padding-right: 0;
}

.js-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2rem;
    color: var(--secondary-color);
}

.js-menu__li {
    padding-bottom: 3rem;
}

.js-m-li__link {
    color: var(--secondary-color);
}

.js-h-buttons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}


